<!DOCTYPE html><html lang="ja"><head><meta charset="utf-8">
<!---<link rel="apple-touch-icon" href="img/accept.PNG" />-->
<script type="text/javascript" src="test.js"></script>
<link rel="stylesheet" href="test.css" type="text/css">
<html><head><title>テストアプリ</title></head>
  <body onLoad="updateLux('/lux','data')">
    <span id="Realtime" class="time">00/00(0) 00:00:00</span>
    <center>
      <div id = "data">test</div>
      <input type="button" value="手動更新" onclick="updateLux('/lux','data')">
    </center>
    <table id="History">
      <thead><tr>
        <th style="width:250px">計測日時</th>
        <th style="width:200px">照度</th>
      </tr></thead>
      <tbody id="body"><tr>
        <td>2020/02/27 13:00:00</td>
        <td>200</td>
      </tr></tbody>
    </table>
  </body>

  <script>
    const updateLux = async(url,element) => {
      const sensorData = await fetch(url)
      .then(response => response.text())
      const target = document.getElementById(element)
      target.innerHTML = `<h2>${sensorData}</h2>`
    }
    setInterval("updateLux('/lux','data')",5000);

    function adddata(order_id){
      var orderNo = "No"+order_id;
      var table=document.getElementById('accept');
      var row_len=table.rows.length;
      row_len--;

      var row=table.insertRow(row_len);
      var cell1=row.insertCell(-1);
      var cell2=row.insertCell(-1);

      var cmp='<button value="完了" class="cmp" onclick="completeRow(this)"/>完了</button>';
      var del='<button value="削除" class="delete" onclick="deleteRow(this)"/>削除</button>';

      var id=set3fig(orderData[orderNo].id);
      var time=Math.floor(Math.random()*10);

      cell1.innerHTML=id;
      cell2.innerHTML=time+"分前";
      cell3.innerHTML=menu1;
      cell4.innerHTML=menu2;
      cell5.innerHTML=menu3;

      cell7.innerHTML=menu1+menu2+menu3;
      cell8.innerHTML=cmp;
      cell9.innerHTML=del;

    }


  </script>
  <style>
    #History{
      position:fixed;
      bottom:10%;
    }

  </style>

  <script>
    /*ここからは編集不可*/
    setInterval('showClock()',1000);
    function set2fig(num){
      var ret;
      if(num<10){ret="0"+num;}
        else{ret=num;}
      return ret;
    }
    function set3fig(num){
      var ret;
      if(num<10){ret=" 00"+num;}
       else if(num<100){ret=" 0"+num;}
        else{ret=" "+num;}
      return ret;
    }

    function showClock(){
      var nowTime=new Date();
      var nowHour=set2fig(nowTime.getHours());
      var nowMin=set2fig(nowTime.getMinutes());
      var nowSec=set2fig(nowTime.getSeconds());
      var nowMonth=set2fig(nowTime.getMonth()+1);
      var nowDate=set2fig(nowTime.getDate());
      var wDay=nowTime.getDay();
      var Day=['日','月','火','水','木','金','土'];
      var Realtime=nowMonth+"/"+nowDate+"("+Day[wDay]+")"+" "+nowHour+":"+nowMin+":"+nowSec;
      document.getElementById("Realtime").innerHTML=Realtime;
    }

    //ここからバナーとアラート・ポップアップ
    /*
    -----使い方----
    banner(title,text [,detail]);
      >>バナーを使う（バナーは10秒で自動的に消える）
        title(String) :バナーのタイトル
        text(String)  :バナーの内容、タグの使用可能
        detail(String):省略可、バナータッチ時に表示するポップアップの本文、タグの使用可能.

        Ex.)　banner("test","これはテスト","これはテストです。");

    showAlert(title,txt[,popup[,fn]])
      >>ポップアップを使う。Okを押さなくても100秒後に閉じる
      title(String) :ポップアップのタイトル
      txt(String)   :バナーの内容、タグの使用可能
      popup(String) :省略可、デフォルトはhidden.

        -hidden  デフォルト値. 100秒で自動的に閉じるアラート。OKボタンのみある。fnを実行する。
        -noClose 自動的には閉じないアラート。OKボタンのみある。fnを実行する。
        -その他   自動的に閉じないコンファーム。キャンセルを押すと何もしない、OKを押すとfnを実行する

      fn(String)    :省略可。関数名もしくは function(){} を直接記述。OKを押した後に実行される。' or " で囲む必要あり。

      Ex.)　showAlert('テストです','このコンファームはテストです。','confirm','banner("やったー","コンファームが無事使えたよ！")');
            showAlert('テスト','自動的に消えます。');

    */
    //ここからバナー
    function banner(title,text,detail = text){
      var div = document.createElement('div');
      div.className = "banner";
      div.setAttribute("onclick","this.style.animation='animation-banner-up 0.5s';showAlert('"+title+"','"+detail+"','noClose')");
      var h1 = document.createElement('h2');
      h1.innerHTML = title;
      var p = document.createElement('p');
      p.innerHTML = text;
      div.appendChild(h1);
      div.appendChild(p);
      document.getElementsByTagName('body')[0].appendChild(div);
    }

    //ここからアラート
    function showAlert(title,txt,popup="hidden",fn=function(){}){
      //タイトル、本文、(デフォルト=10秒閉じ,noClose=自動で閉じないアラート,その他＝confirm),関数ー＞""で囲む,Okayに渡される
      var div1 = document.createElement('div');
      div1.className = "bgAlert";
      var div2 = document.createElement('div');
      div2.className = "alert";
      var h2 = document.createElement('h2');
      h2.innerHTML = title;
      var p = document.createElement('p');
      p.innerHTML = txt;
      var time = document.createElement('div');
      time.innerHTML = "Auto Close : 100 sec.";
      var cancel = document.createElement('button');
      cancel.innerHTML = "キャンセル";
      cancel.setAttribute("onclick","hideConfirm(this);");
      if(popup==("hidden"))cancel.style.visibility="hidden";
      if(popup==("noClose"))cancel.style.visibility="hidden";
      var okay = document.createElement('button');
      okay.style.background = "#5566FF";
      //
      okay.setAttribute("onclick","hideConfirm(this,"+fn+");");
      okay.innerHTML  = "OK";
      div2.appendChild(h2);
      div2.appendChild(p);
      div2.appendChild(cancel);
      div2.appendChild(okay);
      div1.appendChild(div2);
      document.getElementsByTagName('body')[0].appendChild(div1);
      console.log();
      if(popup=="hidden"){
        div2.appendChild(time);
        console.log(time.innerHTML.replace(/[^0-9]/g,""));
        var timeout = setInterval(function(time){time.innerHTML = "Auto Close : "+(parseInt(time.innerHTML.replace(/[^0-9]/g,""))-1)+" sec.";},1000,time);
        setTimeout(function(div1,timeout){clearInterval(timeout);console.log(div1);div1.remove(div1);},101000,div1,timeout);
      }
    }
    function hideConfirm(obj,fc=function(){}){
      obj.parentNode.parentNode.style.display='none';
      fc();
    }
  </script>
  <style>
    *{
      -webkit-tap-highlight-color:rgba(0,0,0,0);
      -webkit-touch-callout:none;
      -webkit-user-select:none;
    }
    html {touch-action: manipulation;}
    body{background-color:rgba(255,170,0,1);}
    body{background-image:url("img/back.jpg");background-size:cover;}
    body{color:#000; font-family:"Gulim",sans-serif; font-weight:600;}
    body{text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;}

    .time{
      position:fixed;
      font-size:100%;
      top:5%;
      left:40px;
      z-index:5;
    }

  </style>

</html>
